<% include partials/header %>

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1>My Awesome Series</h1>
        <p class="lead">Your series with Express + Mongo + NodeJS</p>
      </div>
    </header>

<%include partials/footer%>
